/web/target/
/dao/target/
/services/target/
enums/target/classes/\.netbeans_automatic_build

enums/target/test-classes/\.netbeans_automatic_build

connectionPool/target/classes/\.netbeans_automatic_build

connectionPool/target/test-classes/\.netbeans_automatic_build

constants/target/classes/\.netbeans_automatic_build

constants/target/test-classes/\.netbeans_automatic_build

entities/target/classes/\.netbeans_automatic_build

entities/target/test-classes/\.netbeans_automatic_build

*.jar

*.properties

*.class

web/src/main/webapp/images/
