/*
BASIC COLORS:
    #429993 - зеленый
    #26484a - темно-зеленый
    #417c7f - темно-зеленый (hover)
    #b6d16a - светло-зеленый
    #cbcbc9 - светло-серый
    #82999f - темно-серый
    #d16a6a - красный
    */
html, body
{
	background: #494949;
	margin: 0;
	padding: 0;
}